
<!-- {% extends 'base/core.html' %}



{% block title %}Contact | Umnombo Wezolimo{% endblock %}

{% block body %} -->
    <!-- <h1 class="text-xl" bg-black>Contact</h1>

    <form method="post" action="">
        {% csrf_token %}
        

        <input type="submit" value="save">

    </form> -->


<!-- contact section -->
<!-- <section id="contact" class="contact section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-header text-center pb-5">

          <h2>Contact</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa at dolorem illum, aut vero voluptates adipisci necessitatibus. Numquam non mollitia, 
            voluptatum nobis quaerat rerum? Ut voluptatum atque libero laborum quos.</p>
          </div>
        </div>
    </div>

    <div class="row m-0">
      <div class="col-md-12 p-0 pt-4 p-4">
        <form action="" method="post" class="bg-light p-4.m-auto">
          <div class="row">
            <div class="col-md-12">
              <div class="mb-3">
                <input type="text" class="form-control" required placeholder="Your Full name">
              </div>
            </div>

            <div class="col-md-12">
              <div class="mb-3">
                <input type="email" class="form-control" required placeholder="Your Full email">
              </div>
            </div>

            <div class="col-md-12">
              <div class="mb-3">
                <textarea rows="3" required class="form-control" placeholder="Message"></textarea>
              </div>
            </div>
            <button class="btn btn-warning btn-lg btn-block mt-3">Send Now</button>
          </div>

        </form>
      </div>
    </div>
  </div>

</section>
{% endblock %} -->