{% extends 'base/core.html' %}
{% load static %}

{% block title %}Profile | Umnombo Wezolimo{% endblock %}

{% block body %}
  
    <section id="portfolio" class="portfolio section-padding">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="section-header text-center pb-5">
                <h2>Our Project</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa at dolorem illum, aut vero voluptates adipisci necessitatibus. Numquam non mollitia, 
                  voluptatum nobis quaerat rerum? Ut voluptatum atque libero laborum quos.</p>
                </div>
              </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-12 col-lg-4">
                  <div class="card text-center bg-white pb-2">
                    <div class="card-body text-dark">
                      <div class="img-area mb-4">
                        <img src="{% static 'images/clean.JPG' %}" alt="" class="img-fluid">
                      </div>
                      <h3 class="card-title">Building Maker</h3>
                      <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident pariatur fugiat voluptatum autem perferendis, dolores, placeat earum ab sed iusto sapiente, 
                        reiciendis voluptatem! Culpa maiores at repudiandae, nulla dignissimos a!</p>
                        <button class="btn bg-warning text-dark">Learn More</button>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-12 col-lg-4">
                  <div class="card text-center bg-white pb-2">
                    <div class="card-body text-dark">
                      <div class="img-area mb-4">
                        <img src="{% static 'images/clean.JPG' %}" alt="" class="img-fluid">
                      </div>
                      <h3 class="card-title">Building Maker</h3>
                      <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident pariatur fugiat voluptatum autem perferendis, dolores, placeat earum ab sed iusto sapiente, 
                        reiciendis voluptatem! Culpa maiores at repudiandae, nulla dignissimos a!</p>
                        <button class="btn bg-warning text-dark">Learn More</button>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-12 col-lg-4">
                  <div class="card text-center bg-white pb-2">
                    <div class="card-body text-dark">
                      <div class="img-area mb-4">
                        <img src="{% static 'images/clean.JPG' %}" alt="" class="img-fluid">
                      </div>
                      <h3 class="card-title">Building Maker</h3>
                      <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident pariatur fugiat voluptatum autem perferendis, dolores, placeat earum ab sed iusto sapiente, 
                        reiciendis voluptatem! Culpa maiores at repudiandae, nulla dignissimos a!</p>
                        <button class="btn bg-warning text-dark">Learn More</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

      </section>

      <section id="team" class="team section-padding">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="section-header text-center pb-5">
                <h2>Our Project</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa at dolorem illum, aut vero voluptates adipisci necessitatibus. Numquam non mollitia, 
                  voluptatum nobis quaerat rerum? Ut voluptatum atque libero laborum quos.</p>
                </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6 col-lg-3">
                  <div class="card text-center">
                    <div class="card-body">
                      <img src="{% static 'images/recent.JPG' %}" alt="" class="img-fluid rounded-circle">
                      <h3 class="card-title py-2">Thami Mbodla</h3>
                      <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil praesentium magni odit quos nesciunt. Quos amet esse, iure quis maiores cum laboriosam adipisci pariatur, corrupti, 
                        reprehenderit delectus aspernatur maxime dignissimos!</p>

                        <p class="socials">
                          <i class="bi bi-twitter text-dark mx-1"></i>
                          <i class="bi bi-facebook text-dark mx-1"></i>
                          <i class="bi bi-linkedin text-dark mx-1"></i>
                          <i class="bi bi-instagram text-dark mx-1"></i>
                        </p>
                    </div>
                  </div>
                </div>
              </div>
              
        </div>
      </section>
{% endblock body %}