{% extends 'base/core.html' %}

{% block title %}Services | Umnombo Wezolimo{% endblock %}

{% block body %}
    <section id="services" class="services section padding">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="section-header text-center pb-5">
                <h2>Our Services</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa at dolorem illum, aut vero voluptates adipisci necessitatibus. Numquam non mollitia, 
                  voluptatum nobis quaerat rerum? Ut voluptatum atque libero laborum quos.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-12 col-lg-4">
              <div class="card text-white text-center bg-dark pb-2">
                <div class="card-body">
                  <i class="bi bi-subtract"></i>
                  <h3 class="card-title">Best Qaulity</h3>
                  <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas similique exercitationem, molestias aliquid deleniti sit. Maiores est nemo voluptates ipsum, 
                    quasi eveniet harum possimus, minima omnis unde magnam beatae. Minima.</p>
                    <button class="btn btn-warning text-dark">Read More</button>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-12 col-lg-4">
              <div class="card text-white text-center bg-dark pb-2">
                <div class="card-body">
                  <i class="bi bi-twitter"></i>
                  <h3 class="card-title">Sustainability</h3>
                  <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas similique exercitationem, molestias aliquid deleniti sit. Maiores est nemo voluptates ipsum, 
                    quasi eveniet harum possimus, minima omnis unde magnam beatae. Minima.</p>
                    <button class="btn btn-warning text-dark">Read More</button>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-12 col-lg-4">
              <div class="card text-white text-center bg-dark pb-2">
                <div class="card-body">
                  <i class="bi bi-telephone"></i>
                  <h3 class="card-title">Find Us</h3>
                  <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas similique exercitationem, molestias aliquid deleniti sit. Maiores est nemo voluptates ipsum, 
                    quasi eveniet harum possimus, minima omnis unde magnam beatae. Minima.</p>
                    <button class="btn btn-warning text-dark">Read More</button>
                </div>
              </div>
            </div>
          </div>

        </div>

      </section>
{% endblock body %}